<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>

<th:block th:replace="~{fragments/navbar :: common-navbar}"></th:block>
<div class="container">

    <h3>All Comments </h3>
    <hr>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

    <form th:action="@{/admin-dashboard/searchCommentUsername}" method="POST">
        <label>Username: </label><input type="text" name="memberUsername">
        <button class="btn btn-primary btn-sm">Search</button>
    </form>
    <table class="table table-striped">

        <thead>
        <tr>
            <th>Username</th>
            <th>Content</th>
            <th>Post ID</th>
            <th>Likes</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.member.user.username}"></td>
            <td th:text="${comment.content}"></td>
            <td th:text="${comment.post.id}"></td>
            <td th:text="${comment.likes.size()}"></td>
            <td th:text="${#temporals.format(comment.createdAt, 'dd/MM/yyyy HH:mm:ss')}"></td>

            <td>
                <form th:action="@{/admin-dashboard/comment-delete}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this comment?')">
                    <input type="hidden" name="commentId" th:value="${comment.id}" />
                    <button type="submit" class="btn btn-danger btn-sm" >Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <th:block th:replace="~{fragments/footer :: common-footer}"></th:block>

</div>
</body>
</html>
