<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/head :: common-head}"></th:block>
<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>
<th:block th:replace="~{fragments/header :: common-navbar}"></th:block>
<div class="container">
    <h3>Error</h3>
    <hr>
    <p>Terrible error</p>
    <a th:href="@{/mvc/comments}">Go to Comments</a>
    <th:block th:replace="~{fragments/footer :: common-footer}"></th:block>
</div>
</body>
</html>