<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>
<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>

<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">Error</h1>
                    <a href="javascript:history.back()" class="btn btn-primary btn-sm">Go Back</a>
                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="~{fragments/footer :: common-footer}"></th:block>

</div>
</body>
</html>