<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<th:block th:replace="~{fragments/header :: common-header}"></th:block>
<th:block th:replace="~{fragments/navbar :: common-navbar}"></th:block>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Password Form</h3>
                </div>
                <div class="card-body">
                    <!-- error message -->
                    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
                    <!-- success message -->
                    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
                    <!-- form for create or update depending on if there is an id or not -->
                    <form th:action="@{/mvc/member-change-password(memberId=${member.id})}"
                          th:object="${member}"
                          method="post">
                        <input type="hidden" name="memberId" th:value="${member.id}"/>
                        <!-- current password -->
                        <div class="form-group">
                            <label for="currentPassword">Current Password:</label>
                            <input type="password" id="currentPassword" name="currentPassword" class="form-control"
                                   required>

                        </div>
                        <!-- new password -->
                        <div class="form-group">
                            <label for="newPassword">New Password:</label>
                            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                        </div>
                        <!-- confirm new password -->
                        <div class="form-group">
                            <label for="confirmNewPassword">Confirm New Password:</label>
                            <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                                   class="form-control" required>
                        </div>

                        <input type="hidden" th:field="*{role}"/>

                        <!-- Submit button (text changes based on create/update) -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"
                                    th:text="ChangePassword">Change Password
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{fragments/footer :: common-footer}"></th:block>
</body>
</html>